<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New entry</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
<div class="container">
    <div class="container-form">
        <form name='form' action="#" th:action="@{/createEntry}" th:object="${password}" method='POST'>
            <table>
                <tr>
                    <td>Email:</td>
                    <td><label>
                        <input type='text' name='email' value='' th:field="*{email}"/>
                    </label></td>
                </tr>
                <tr>
                    <td>Url:</td>
                    <td><label>
                        <input type='text' name='url' value='' th:field="*{url}"/>
                    </label></td>
                </tr>
                <tr>
                    <td>Value:</td>
                    <td><label>
                        <input type='password' name='value' value='' th:field="*{value}"/>
                    </label></td>
                </tr>
                <tr>
                    <td>Notes:</td>
                    <td><label>
                        <input type='text' name='notes' value='' th:field="*{notes}"/>
                    </label></td>
                </tr>
                <tr>
                    <td>Category:</td>
                    <td><label>
                        <input type='text' name='category' value='' th:field="*{category}"/>
                    </label></td>
                </tr>
                <tr>
                    <td><input name="submit" type="submit" value="submit" class="submitButton"/></td>
                </tr>
            </table>
        </form>
    </div>
</div>
</body>
</html>
