<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
</head>
<body>
<table>
    <tr>
        <th>url</th>
        <th>email</th>
        <th>value</th>
        <th>notes</th>
        <th>category</th>
    </tr>
    <tr th:if="${passwords.size() > 0}" th:each="password : ${passwords}">
        <td th:text="${password.url}"></td>
        <td><a href="#" th:text="${password.email}"></a></td>
        <td th:text="${password.value}"></td>
        <td th:text="${password.notes}"></td>
        <td th:text="${password.category}"></td>
    </tr>
    <tr th:unless="${passwords.size() > 0}">
        <td><a>No Entries!</a></td>
    <tr></tr>
</table>
<form name='form' action="#" th:action="@{/newEntry}" method='GET'>
    <input name="submit" type="submit" value="New Entry">
</form>
</body>
</html>