<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Password</title>
    <link rel="stylesheet" href="../styles/style.css">


</head>
<body>
<table>
    <tr class="">
        <th class="blue">url</th>
        <th class="white">email</th>
        <th class="blue">value</th>
        <th class="white">notes</th>
        <th class="blue rounded-right">category</th>
    </tr>
    <tr th:if="${passwords.size() > 0}" th:each="password : ${passwords}">
        <td th:text="${password.url}" class="blue"></td>
        <td><a href="#" th:text="${password.email}" class="white"></a></td>
        <td th:text="${password.value}" class="blue"></td>
        <td th:text="${password.notes}" class="white"></td>
        <td th:text="${password.category}" class="blue"></td>
    </tr>
    <tr th:unless="${passwords.size() > 0}">
        <td><a>No Entries!</a></td>
    <tr></tr>
</table>
<form name='form' action="#" th:action="@{/newEntry}" method='GET'>
    <input name="submit" type="submit" value="New Entry" class="button">
</form>
</body>
</html>
